<!-- Carousel -->
<div class="carousel carousel-slider center container">

    <div class="carousel-item amber white-text" href="#two!">
        <img src="image/banner1.jpg">
    </div>
    <div class="carousel-item green white-text" href="#three!">
        <img src="image/banner2.jpg">
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <img src="image/banner3.jpg">
    </div>
</div>

<script>
     $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
    });
</script>