<style>
  . {
    color: rgb(102, 186, 192);
    background-color:rgb(8, 8, 8);
    padding: 10px;
    text-align: center;
    }    
</style>

<!-- Best seller shoes -->
  <div class="container">
    <h1 class="text-lighten-2 center">Best Seller</h1>
    <div class="row">
        <div class="col s6">
          <a href="#">
          <!-- marquee behavior="slide" direction="up" -->
          <a href="productview.html">
            <img src="./image/1.jpg" height="100%" width="100%">
          </a>
          <!--/marquee-->
          </a>
          <div class=""><a onclick="M.toast({html: 'Added to Cart!'})" class="btn red">Add to Cart</a>
            <a class="right btn-floating waves-effect waves-light red darken-1">
            <i class="material-icons">shopping_cart</i></a>
          </div>
        </div> 
          <div class="col s6">
            <!--marquee behavior="slide" direction="up"-->
            <a href="productview.html">
              <img src="./image/1.jpg" height="100%" width="100%">
            </a>
            <!--/marquee-->
            <div class=""><a onclick="M.toast({html: 'Added to Cart!'})" class="btn red">Add to Cart</a>
              <a class="right btn-floating waves-effect waves-light red darken-1">
              <i class="material-icons">shopping_cart</i></a>
          </div>
        </div>                              
    </div>
  </div>
 
<div class="container">
<div class="row">

  <div class="col s3">              
    <a href="productview.html">                  
      <img src="./image/11.jpg" height="100%" width="100%">
    </a>        
    <div class=""><a onclick="M.toast({html: 'Added to Cart!'})" class="btn red">Add to Cart</a>
      <a class="right btn-floating waves-effect waves-light red darken-1">
      <i class="material-icons">shopping_cart</i></a>
    </div>             
  </div>

  <div class="col s3">
    <a href="productview.html">                  
      <img src="./image/11.jpg" height="100%" width="100%">
    </a>  
    <div class=""><a onclick="M.toast({html: 'Added to Cart!'})" class="btn red">Add to Cart</a>
      <a class="right btn-floating waves-effect waves-light red darken-1">
      <i class="material-icons">shopping_cart</i></a>
    </div>
  </div>

  <div class="col s3">
    <a href="productview.html">                  
      <img src="./image/11.jpg" height="100%" width="100%">
    </a>  
    <div class=""><a onclick="M.toast({html: 'Added to Cart!'})" class="btn red">Add to Cart</a>
      <a class="right btn-floating waves-effect waves-light red darken-1">
      <i class="material-icons">shopping_cart</i></a>
    </div>
  </div>
    

  <div class="col s3">            
    <a href="productview.html">                  
      <img src="./image/11.jpg" height="100%" width="100%">
    </a>              
    <div class=""><a onclick="M.toast({html: 'Added to Cart!'})" class="btn red">Add to Cart</a>
      <a class="right btn-floating waves-effect waves-light red darken-1">
      <i class="material-icons">shopping_cart</i></a>
    </div>
  </div>
</div>
</div>


<!-- New Arrival shoes -->
<div class="container">
<h1 class="center">New Arrival</h1>
<div class="row">
  <div class="col s2">
    <div class="">
      <img src="./image/6.jpg" height="100%" width="100%">  
    </div>
  </div>
  <div class="col s2">
    <div class="">
      <img src="./image/6.jpg" height="100%" width="100%">  
    </div>
  </div>
  <div class="col s2">
    <div class="">
      <img src="./image/6.jpg" height="100%" width="100%">  
    </div>
  </div>
  <div class="col s2">
    <div class="">
      <img src="./image/6.jpg" height="100%" width="100%">  
    </div>
  </div>
  <div class="col s2">
    <div class="">
      <img src="./image/6.jpg" height="100%" width="100%">  
    </div>
  </div>
  <div class="col s2">
    <div class="">
      <img src="./image/6.jpg" height="100%" width="100%">  
    </div>
  </div>
</div>    
</div>

<div class="container">
<div class="row">
  <div class="col s2">
    <div class="">
      <img src="./image/6.jpg" height="100%" width="100%">  
    </div>
  </div>
  <div class="col s2">
    <div class="">
      <img src="./image/6.jpg" height="100%" width="100%">  
    </div>
  </div>
  <div class="col s2">
    <div class="">
      <img src="./image/6.jpg" height="100%" width="100%">  
    </div>
  </div>
  <div class="col s2">
    <div class="">
      <img src="./image/6.jpg" height="100%" width="100%">  
    </div>
  </div>
  <div class="col s2">
    <div class="">
      <img src="./image/6.jpg" height="100%" width="100%">  
    </div>
  </div>
  <div class="col s2">
    <div class="">
      <img src="./image/6.jpg" height="100%" width="100%">  
    </div>
  </div>
</div>    
</div>

<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip({
        enterdelay: 5000,
        margin: 30
    });
  });
 </script>